<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>847629495820-46r9bcbni3jjnh0dt5navcruhi2in4od.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.847629495820-46r9bcbni3jjnh0dt5navcruhi2in4od</string>
	<key>API_KEY</key>
	<string>AIzaSyCT6ncxfXWAtYYLLL5fbOALBHy2UunN-qY</string>
	<key>GCM_SENDER_ID</key>
	<string>847629495820</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.studentTeacher</string>
	<key>PROJECT_ID</key>
	<string>liveprog</string>
	<key>STORAGE_BUCKET</key>
	<string>liveprog.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:847629495820:ios:cf1e7c407446c462ac8829</string>
</dict>
</plist>